<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Player</title>
</head>
<body>
    <h1>Add New Player</h1>
    <a href="/home">Back to Home</a>
    <form method="POST" action="/add">
        <label>Name:</label>
        <input type="text" name="p_name" required>
        <br>
        <label>Number:</label>
        <input type="number" name="p_number" required>
        <br>
        <label>Team:</label>
        <input type="text" name="p_team" required>
        <br>
        <label>Position:</label>
        <input type="text" name="p_position" required>
        <br>
        <label>Key:</label>
        <input type = "number" name = "p_key" value="{{ next_player_id }}" required>
        <br>
        <label>Season:</label>
        <input type="text" name="p_season" required>
        <br>
        <button type="submit">Add Player</button>
    </form>
</body>
</html>
