<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body>
    <h1>Welcome to the 2022 Playoffs Management System</h1>
    <p>
        Navigate to:
        <ul>
            <li><a href="/allplayers">All Players</a></li>
            <li><a href="/search">Search Players</a></li>
            <li><a href="/add">Add Player</a></li>
            <li><a href="/allcoaches">All Coaches</a></li>
            <li><a href="/searchc">Search Coaches</a></li>
            <li><a href="/addc">Add Player</a></li>
            <li><a href = "/teams"> Teams </a></li>
            <li><a href = "/searcht"> Search Teams </a></li>
        </ul>
    </p>
</body>
</html>
