<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Player List</title>
</head>
<body>
    <h1>All Players</h1>
    <a href="/add">Add New Player</a>
    <a href="/home">Back to Home</a>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Key</th>
            <th>Team</th>
            <th>PTS</th>
            <th>AST</th>
            <th>REB</th>
            <th>Actions</th>
        </tr>
        {% for player in players %}
        <tr>
            <td>{{ player['p_name'] }}</td>
            <td>{{ player['p_position'] }}</td>
            <td>{{ player['p_key'] }}</td>
            <td>{{ player['p_team'] }}</td>
            <td>{{ player['PTS'] }}</td>
            <td>{{ player['AST'] }}</td>
            <td>{{ player['REB'] }}</td>
            <td>
                <a href="/edit/{{ player['p_key'] }}">Edit</a>
                <form method="POST" action="/delete/{{ player['p_key'] }}" style="display:inline;">
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </table>
   

    
</body>
</html>
